{% extends 'layout.html' %}
{% load static %}


{% block content %}

        <!-- ================= เนื้อหา ============================ -->
        <div class="container WRAPPER_OrderHis">
          <div class="jumbotron my-4">
              <h1 align="left" class="display-4">Thank You!</h1>
              <p align="left" class="lead">จัดเก็บข้อมูลเรียบร้อย</p>
              <p align="left" class="lead">ลูกค้าสามารถมารับอาหารตามเวลาที่แจ้งไว้ได้เลย</p>
              <hr class="my-4">
              <p class="lead">
                <a class="w3-bar-item w3-button w3-yellow w3-hover-deep-orange w3-hover-shadow w3-hover-text-white" href="/index" role="button">สั่งอาหารเพิ่มเติม</a>
              </p>
          </div>
        </div>

{% endblock %} 