{% extends 'layout.html' %}
{% load static %}


{% block content %}

        <!-- ================= เนื้อหา ============================ -->
        <div class="container WRAPPER_OrderHis">
          <div class="jumbotron my-4">
              <h1 class="display-4">Thank You!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>จัดเก็บข้อมูลเรียบร้อย ลูกค้าสามารถมารับอาหารตามเวลาที่แจ้งไว้ได้เลย</p>
              <p class="lead">
                <a class="w3-bar-item w3-button w3-yellow w3-hover-deep-orange w3-hover-shadow w3-hover-text-white" href="/index" role="button">ซื้อสินค้าเพิ่มเติม</a>
              </p>
          </div>
        </div>

{% endblock %} 